.root {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: Roboto sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
}

.row {
  display: flex;
  flex-flow: row;
  gap: 10px;
  position: relative;

  .input {
    width: 349px;
    height: 30px;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    padding-left: 30px;

    ::placeholder {
      font-family: Roboto sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: left;
      color: #BCBCBC;

    }
  }
}

.icon {
  position: absolute;
  left: 4px;
  top: 3px;
}